{
  "extends": "airbnb/base",
  "env": {
    "node": true,
    "mocha": true
  },
  "plugins": ["mocha"],
  "rules": {
    "mocha/no-exclusive-tests": "error",
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "no-unused-expressions": "off"
  }
}